:root {
  --beer-yellow: #c5c28f;
  --beer-brown: #ad7d24;
}

* {
  margin: 0 auto;
  padding: 0;
  background-color: var(--beer-brown);
  max-width: 1440px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-container h1 {
  margin: 1rem 0rem;
}

.header-container h2 {
  margin: 1rem 0rem;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0rem;
}

.search-container input {
  width: 300px;
  height: 25px;
  padding: 5px;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 1.4rem;
  background-color: var(--beer-yellow);
  color: black;
}

::placeholder {
  font-size: 1.2rem;
  font-weight: 500;
}

.search-container img {
  height: 45px;
  cursor: pointer;
  margin-right: 10px;
}

.search-container img:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.2s;
}

.beers-container {
  box-sizing: border-box;
  width: 100%;
  margin: 2rem 0rem;
  padding: 0px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  align-items: center;
  justify-items: center;
}

.loading-msg {
  position: absolute;
  margin: auto;
}

.beers-container h1 {
  position:absolute;
  margin: auto;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
  }

  .beers-container {
    display: flex;
    flex-direction: column;
  }

  .search-container input {
    width: 75%;
    height: 30px;
  }

  .search-container img {
    height: 25px;
    margin: 0 auto;
  }

  .beer-container {
    box-sizing: border-box;
    margin: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .beers-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .beers-container {
    grid-template-columns: 1fr;
  }
}